<div class="row">
  <div class="medium-5 columns">
    <table>
      <tr>
        <td><%= image_tag "success.png" %></td>
        <td><p>You have signed up successfully.</p></td>
      </tr>
    </table>
  </div>
</div>